<h1>Items#list</h1>

<table class="table">
  <thead class="table-dark">
     <tr>
        <th>Item</th>
        <th>Quantity</th>
        <th>Price</th>
        <th>Action</th>
    </tr>
  </thead>
  <tbody>
    <tr>
        <td>Apple</td>
        <td>10</td>
        <td>20</td>
        <td>VIEW - EDIT - DELETE</td>
    </tr>
  </tbody>
</table>